@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');
body{
    margin: 0;
    padding: 0;
}
.div1{
    background-color: black;
    color: aqua;
    padding: 10px;
    text-align: center;
 
}
.gameContainer{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;

}
 
.box{
    border: 2px solid black;
    font-size: 100px;
    cursor: pointer;
     display: flex; 
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}
.box:hover{
    background-color: rgb(105, 159, 163);
}
.gameInfo{
    padding: 0 34px ;
    font-family: 'Bloo Bhaina 2', cursive;
}
.images img{
    display: none;

}

.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0;
}
.bb-0{
    border-bottom: 0;
}
.bt-0{
    border-top: 0;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: 'Baloo Bhaina 2';
    font-size: 15px;
    font-weight: bolder;
}
.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}